html {
  scroll-behavior: smooth;
}

.main-section {
  scroll-margin-top: 50px;
}

body {
width: 100vw;
max-width: 100vw;
height: fit-content;
overflow-x: hidden;
}

img, .img-container {
  object-fit: scale-down;
  height: fit-content;
  width: fit-content;
  max-width: 100vw;
}
 
.navigation {
  border-right: 3px solid grey;
  background-color: antiquewhite;
  position: fixed;
  left: 0; 
  top: 0;
  min-width: 250px;
  width: 15vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: block;
  overflow: auto;
}

.navigation div[class="dropdown"] {
  margin: 0;
  padding: 0;
  border: none;
}

.navigation *:not(a) {
  border-bottom: 1px solid grey;
  Text-align: left;
  padding: 10px 30px;
  margin: 10px;
  font-size:1.10em;
  display: block;
  }

.navigation a {
  display: block;
  border: none;
  text-decoration: none;
  color: black;
  padding: 4px auto;
}

.navigation input, .navigation .menu-button {
 display: none;
}

.navigation header {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0;
}

.navigation li {
  list-style-type: none;
  display: block;
}

.navigation ul {
  margin: 0;
  padding: 0;
  position: relative;
  border: none;
}

#main-doc {
  float: left;
  margin-left: clamp(275px, 20vw, 350px); /*This left margin is to offset the content from overlapping the nav bar*/
  margin-top: 50px;
  line-height: 2em;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-doc p, #main-doc ul {
  font-size: 1.2em;
}

#main-doc header {
  font-size: 2.5em;
  font-weight: bold;
}

#main-doc p {
  margin-left: 20px;
}

#main-doc ul {
  margin-left: 15px;
}

ul[id="main-list"] li {
  line-height: 2em;
}

.passive-tree-img {
  height: auto;
  width: 80%;
  min-width: 400px;
}

#Introduction img[src="Bloodmage_Acension_Tree.png"] {
  width: 450px; /* this rule is to keep that image from being to big and overpowering the document */
  padding-bottom: 30px
}

.code-wrap {
  display: inline-block;
  width: auto;
  height: fit-content;
  border-radius: 10px;
  border: 2px solid darkgray;
  background-color: antiquewhite;
  padding-right: 17px;
  margin-left: 40px;
  margin-bottom: 20px;
}



.img-container h1{
  font-size: 2rem; 
  text-decoration: underline;
  margin: 0 0 10px 0;
}

.img-container .code-wrap {
  margin-top: 20px;
  margin-left: 0;
}

/* Section is for rules that apply to mobile devices for readability */

@media (max-width: 1200px) {  
  
  #navbar header {
    display: block;
    font-size: 2rem;
    border-bottom: 4px solid gray;
    margin: 0;
    transition: all 0.5s ease-in;
  }

  body {
   margin-top: 75px;
  }

  #main-doc {
    margin-left: 0;
  }
  
  .navigation {
    position: fixed;
    min-width: 100vw;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    border-right: none;
  }

  .nav-list {
    height: 0;
    overflow-x: hidden;
    overflow-y: auto;
    border: solid 0px transparent;
    max-height: 200px;
    transition: all 0.5s ease-in;
    opacity: 0;
  }

  .navigation .menu-button {
    height: 30px;
    width: 30px;
    background-color: aliceblue;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 20px;
    top: -5px;
    z-index: 1;
    border-radius: 10px;
    padding: 7px;
    margin-left: 0;
    font-size: 30px;
    font-weight: 500;
    font-family: sans-serif;
    transform: rotate(90deg);
    user-select: none;
  }

  .menu-button:hover {
    cursor: pointer;
  } 
    
  .menu-button:active {
    box-shadow: inset 0px 0px 10px 4px #5F6D75;
  }


  .hidden:checked + .menu-button {
    box-shadow: none;
    box-shadow: inset 0px 0px 20px 4px #5F6D75;
  }

  #navbar .hidden:checked ~ .nav-list {
    height: 300px;
    opacity: 1;
    border: solid 2px grey !important; 
  }
  
  #navbar .hidden:checked ~ header {
    border-bottom: transparent;
  }


  .main-section {
    scroll-margin-top: 100px;
  }
  
img, .img-container {
  margin: auto;
}

  .section-header {
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
    .navigation header {
      text-align: left;
    }
  
}

@media screen and (max-height: 600px) {
  #navbar .dropdown header {
    font-size: clamp(27px, calc(10vh - 10px), 2.5em);
    max-height: 15vh;
    min-height: 30px;
  }  
  
  .navigation .menu-button {
    height: calc(10vh - 10px);
    width: calc(10vh - 10px);
    min-height: 25px;
    min-width: 25px;
  }
}